<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="refresh" content = "45"> -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name ="keywords" content =" HTML, CSS,Javascript, 農產品比價網">
  <meta name ="author" content ="Tansy Hu">
  <meta name="description" content='Produce 農產品比價網'>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta property="og:title" content="農產品比價網">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.hexschool.com/">
  <meta property="og:description" content="農產品比價網">
  <meta property ="og:image" content="./assets/images/android-chrome-512x512.png">

  <title><%- title %></title>

  <link rel="shortcut icon" href="./assets/images/android-chrome-512x512.png">
  <link rel="apple-touch-icon" href="./assets/images/apple-touch-icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <div class="wrap">
  <h1 class="logo"><a href="#">Product</a></h1>
  <%- contents %>

  </div>

  <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
